<h1>Editar Livro</h1>

<div class="container-fluid">
  <form #formLivro="ngForm">
    <div class="form-group">
      <label for="titulo">Livro:</label>
      <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="livro.titulo" #titulo="ngModel"
        minlength="2" required>
      <div *ngIf="titulo.errors && (titulo.dirty || titulo.touched)" class="alert alert-danger">
        <div [hidden]="!titulo.errors.required">
          Digite o livro.
        </div>
        <div [hidden]="!titulo.errors.minlength">
          A tarefa deve conter ao menos 2 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="autor">Autor</label>
      <input type="text" class="form-control" id="autor" name="autor" #autor="ngModel"
      [(ngModel)]="livro.autor" minlength="5" required> 
      <div class="alert alert-danger" *ngIf="autor.errors && (autor.dirty || autor.touched)">
        <div [hidden]= "!autor.errors.required">
          Digite o nome do Autor.
        </div>
        <div [hidden]= "!autor.errors.minlength">
          O nome do Autor deve conter ao menos 5 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group text-center">
      <input type="submit" class="btn btn-success" (click)="atualizar()" value="Atualizar"
        [disabled]="!formLivro.form.valid">

      <a class="btn btn-default" [routerLink]="['/livros']">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
