<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Footer</title>
</head>
<body>
    <footer class="flex-rod">
        <div>
            <a href="#index.html"><img class="fotorodape" src="img2/logo2.png" alt="Home" title="Página inicial"></a>
        </div>
        <div>
            <a href="https://www.instagram.com/cacausoul.code?r=nametag" target="_blank"><img src="img2/instagram_logo.png" class="instagram" title="Instagram"></a>
        </div>
        <div>
                <a href="https://www.facebook.com/Cacau-Soul-106979744968559"  target="_blank"><img src="img2/facebook_logo.png" class="facebook" title="Facebook"></a>
        </div>
        <div>
                <a href="#"  target="_blank" title="Twitter"><img src="img2/twitter_logo.png"class="twitter"></a>
            </div>
        <div class="linha"></div>
        <div class="copyright">&copy; Cacau Soul. 2021</div>
    </footer>
</body>
</html>