<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sistema de Estoque</title>
</head>
<body>
    <header class="header">
        <div class="container">            
            <nav class="grid-12 header_menu">
                <ul>
                    <li><a href="/estoque/estoque">Estoque</a></li>
                    <li><a href="/estoque/cadastrarProduto">Adicionar produtos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="container">
        <!-- PLUGING LIBRAS -->
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
    </section>