*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.linha1, .linha2, .linha3{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    align-content: space-between;    
}

body{
    text-align: center;
    font-variant: small-caps;
    font-size: 25px;
}
div{    
    margin: 5px;
    color: ivory;
    
}
.pequeno{    
    width: 150px;
    height: 150px;
    border: solid 1px rgb(211, 15, 15);
    box-shadow: -5px 5px 5px rgb(184, 0, 0);
    flex-grow: 2;
         
}
.grande{
    width: 300px;
    height: 150px;   
    border: solid 1px rgb(211, 15, 15);     
    box-shadow: -5px 5px 5px rgb(184, 0, 0);
    flex-grow: 2;     
}
